# Análsis Exploraotio de precios de compras y ventas Supermercado La Osa - Madrid

In [1]:
import pandas as pd
import seaborn as sn
import numpy as np
import matplotlib as ploty

### Importamos los datasets

In [2]:
#Datasets de compra de productos a proveedores 2021-2022
precio_enejun= pd.read_excel("Evolución_precio_enerojunio22.xls")
precio_juldic= pd.read_excel("Evolución_precio_juliodiciembre22.xls") # obs columna dic
precio_2021= pd.read_excel("Price_history_2021.xls")
precio_2022= pd.read_excel("Price_history_122022.xls")  # Una sóla columna aparentemente similar a dic de precio_juldic

#Datasets de venta de productos al publico 2021-2022
ventas_2021= pd.read_excel("Ventas_PVP_inflación_2021.xls")
ventas_2022= pd.read_excel("Ventas_PVP_inflación_2022.xls")

### Exploramos los datasets de precio
* `Price_history_122022.xls` -->Hay información de Diciembre del 2022, la cual aparentemente ya está en el archivo `Evolución_precio_juliodiciembre22.xls`
* Tenemos que corroborar si esta es informacion adicional del mes de Diciembre del 2022 o es información duplicada (Preguntar al Stakeholder)
* El supermercado comenzó en el año 2020 --> Preguntar si hay información de Dicembre 2020
* ¿Puede haber erro en los nombres de los archivos?

### Precios de Compra de Productos a Proveedores
* Se revisan los archivos:

`Evolución_precio_enerojunio22.xls` 

`Evolución_precio_juliodiciembre22.xls`

`Price_history_2021.xls`

`Price_history_122022.xls`

In [3]:
precio_enejun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33361 entries, 0 to 33360
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             21005 non-null  object
 1   Producto/Nombre                                         21005 non-null  object
 2   Coste                                                   21005 non-null  float64
 3   Fecha                                                   21005 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  21005 non-null  object
 5   Producto/Referencia interna                             21005 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   33361 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         21005 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 2.0+ MB

In [4]:
precio_juldic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             16217 non-null  object
 1   Producto/Nombre                                         16217 non-null  object
 2   Coste                                                   16217 non-null  float64
 3   Fecha                                                   16217 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  16217 non-null  object
 5   Producto/Referencia interna                             16217 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   24783 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         16217 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 1.5+ MB

In [5]:
precio_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57558 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             37023 non-null  object
 1   Producto/Nombre                                         37023 non-null  object
 2   Coste                                                   37023 non-null  float64
 3   Fecha                                                   37023 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  37023 non-null  object
 5   Producto/Referencia interna                             37023 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   57558 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         37023 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 3.5+ MB

In [6]:
precio_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4254 entries, 0 to 4253
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             2809 non-null   object
 1   Producto/Nombre                                         2809 non-null   object
 2   Coste                                                   2809 non-null   float64
 3   Fecha                                                   2809 non-null   datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  2809 non-null   object
 5   Producto/Referencia interna                             2809 non-null   float64
 6   Producto/Proveedores/Nombre a mostrar                   4254 non-null   object
 7   Producto/Categoría de producto/Nombre a mostrar         2809 non-null   object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 266.0+ KB

> #### Los 4 archivos de precios de compra tienen las mismas 8 columnas.
> #### Se concatenarán los 4 archivos en un solo dataframe `precios_compra_2022` para su manipulación.

> #### Las columnas o variables:

* External ID
* Producto/Nombre
* Coste
* Fecha
* Producto/Cuenta analítica para gastos/Nombre a mostrar
* Producto/Referencia interna
* Producto/Proveedores/Nombre a mostrar
* Producto/Categoría de producto/Nombre a mostrar

In [7]:
precios_compra_2022 = pd.concat([precio_enejun, precio_juldic,precio_2021,precio_2021])
precios_compra_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173260 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count   Dtype
---  ------                                                  --------------   -----
 0   External ID                                             111268 non-null  object
 1   Producto/Nombre                                         111268 non-null  object
 2   Coste                                                   111268 non-null  float64
 3   Fecha                                                   111268 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  111268 non-null  object
 5   Producto/Referencia interna                             111268 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   173260 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         111268 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 11.9+ MB

In [8]:
precios_compra_2022.columns

Index(['External ID', 'Producto/Nombre', 'Coste', 'Fecha',
       'Producto/Cuenta analítica para gastos/Nombre a mostrar',
       'Producto/Referencia interna', 'Producto/Proveedores/Nombre a mostrar',
       'Producto/Categoría de producto/Nombre a mostrar'],
      dtype='object')

### Renombramos las columnas para que sea más fácil su manipulación

In [9]:
precios_compra_2022.rename(columns={'External ID':'External_ID',
                              'Producto/Nombre':'Producto_nombre', 
                              'Coste':'Coste',
                             'Fecha':'Fecha', 
                              'Producto/Cuenta analítica para gastos/Nombre a mostrar':'Producto_nombre_publico',
                             'Producto/Referencia interna':'Producto_Refint', 
                              'Producto/Proveedores/Nombre a mostrar':'Producto_Proveedores_publico',
                              'Producto/Categoría de producto/Nombre a mostrar':'Producto_Categoría_publico'
                             }, inplace=True)

In [10]:
precios_compra_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173260 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   External_ID                   111268 non-null  object
 1   Producto_nombre               111268 non-null  object
 2   Coste                         111268 non-null  float64
 3   Fecha                         111268 non-null  datetime64[ns]
 4   Producto_nombre_publico       111268 non-null  object
 5   Producto_Refint               111268 non-null  float64
 6   Producto_Proveedores_publico  173260 non-null  object
 7   Producto_Categoría_publico    111268 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 11.9+ MB

### Revisamos que si hay valores duplicados en los dataset de compra de productos para el mes de Diciembre de 2022.

In [11]:
precios_compra_2022[precios_compra_2022['Producto_nombre']=='Yogur desnatado vainilla Casa grande xanceda 2 x 125 g']

,External_ID,Producto_nombre,Coste,Fecha,Producto_nombre_publico,Producto_Refint,Producto_Proveedores_publico,Producto_Categoría_publico
1578,__export__.product_price_history_77812_27d7d769,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-06-21 10:47:34,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
1627,__export__.product_price_history_77785_e20a0bfa,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-06-21 09:18:18,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
4142,__export__.product_price_history_76286_874cf258,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-06-07 19:21:58,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
6484,__export__.product_price_history_74757_1a0cf488,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-05-24 18:10:53,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
8751,__export__.product_price_history_73353_6e898abd,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-05-10 12:14:32,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
...,...,...,...,...,...,...,...,...
45168,__export__.product_price_history_27220_a88bb48a,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-03-24 09:31:04,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
47545,__export__.product_price_history_25658_0963d74f,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-03-10 09:57:37,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
48590,__export__.product_price_history_24956_2f82915f,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-03-02 12:11:16,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
50411,__export__.product_price_history_23664_d513e609,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-02-17 10:48:40,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
52632,__export__.product_price_history_20750_5ef29dee,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-02-04 14:38:32,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."

## Analizando Ventas_2021

In [12]:
# Datasets de venta de productos al publico 2021-2022
# ventas_2021= pd.read_excel("Ventas_PVP_inflación_2021.xls")
# ventas_2022= pd.read_excel("Ventas_PVP_inflación_2022.xls")

### Ventas_2021

In [13]:
# Renombrar columnas
ventas_2021.rename(columns={'Unnamed: 0':'Id_Prod', 
                            'Total':'Cant_Prod_Ene',
                            'Unnamed: 2':'Precio_Prod_Ene', 
                            'Unnamed: 3':'Cant_Prod_Feb',
                            'Unnamed: 4':'Precio_Prod_Feb', 
                            'Unnamed: 5':'Cant_Prod_Mar',
                            'Unnamed: 6':'Precio_Prod_Mar', 
                            'Unnamed: 7':'Cant_Prod_Abr',
                            'Unnamed: 8':'Precio_Prod_Abr', 
                            'Unnamed: 9':'Cant_Prod_May',
                            'Unnamed: 10':'Precio_Prod_May', 
                            'Unnamed: 11':'Cant_Prod_Jun',
                            'Unnamed: 12':'Precio_Prod_Jun', 
                            'Unnamed: 13':'Cant_Prod_Jul',
                            'Unnamed: 14':'Precio_Prod_Jul', 
                            'Unnamed: 15':'Cant_Prod_Ago',
                            'Unnamed: 16':'Precio_Prod_Ago', 
                            'Unnamed: 17':'Cant_Prod_Set',
                            'Unnamed: 18':'Precio_Prod_Set', 
                            'Unnamed: 19':'Cant_Prod_Oct', 
                            'Unnamed: 20':'Precio_Prod_Oct', 
                            'Unnamed: 21':'Cant_Prod_Nov', 
                            'Unnamed: 22':'Precio_Prod_Nov', 
                            'Unnamed: 23':'Cant_Prod_Dic', 
                            'Unnamed: 24':'Precio_Prod_Dic', 
                            'Unnamed: 25':'Cant_Total_Prod', 
                            'Unnamed: 26':'Precio_Total_Prod'
                             }, inplace=True)

In [14]:
ventas_2021

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
0,NaN,enero 2021,NaN,febrero 2021,NaN,marzo 2021,NaN,abril 2021,NaN,mayo 2021,...,septiembre 2021,NaN,octubre 2021,NaN,noviembre 2021,NaN,diciembre 2021,NaN,NaN,NaN
1,NaN,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,...,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio
2,Total,22238.75,3.241511,26905.815,3.217539,29978.455,3.259158,28332.157,3.391073,25373.829,...,25386.211,3.38311,28317.427,3.581475,28297.971,3.822941,28992.494,3.974771,309315.499,3.484218
3,[000007] Aceite árnica y romero Piel sana...,NaN,NaN,1,11.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7
4,[000008] Aceite caléndula y almendras Pie...,2,12.5,NaN,NaN,1,12.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3874,[006160] Yogur de soja con limón Sojade 4...,4,2.95,10,2.811111,10,2.65,16,2.65,5,...,10,2.9,10,2.9,7,2.9,16,3.04,123,2.826606
3875,[006161] Yogur de soja con plátano y mara...,5,2.95,7,2.95,7,2.65,5,2.65,7,...,5,2.9,5,2.9,NaN,NaN,8,3.0875,61,2.840164
3876,[006162] Yogur de soja natural Sojade 400 g,12,1.95,14,1.85,19,1.75,12,1.75,17,...,18,2,21,2,16,2,12,2.066667,194,1.92953
3877,[006163] Yogur de soja natural Sojade 4 x...,13,2.25,7,2.192857,7,2.05,6,2.25,2,...,10,2.3,14,2.3,7,2.3,9,2.407143,91,2.260526
3878,[006164] Yogur de soja quark griego Sojad...,6,2.1,11,2.011111,22,1.9,20,1.9,10,...,18,2.15,22,2.15,19,2.15,22,2.225,196,2.080822

In [15]:
# Eliminar 3 filas
ventas_2021_new = ventas_2021.drop([0, 1,2])
ventas_2021_new

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,[000007] Aceite árnica y romero Piel sana...,NaN,NaN,1,11.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7
4,[000008] Aceite caléndula y almendras Pie...,2,12.5,NaN,NaN,1,12.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5
5,[000009] Aceite coco Maya gold 450 ml,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,8,2,8,2,8,2,8,18,8
6,[000010] Aceite desmaquillador Piel sana ...,NaN,NaN,1,12.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.5
7,[000011] Aceite espliego y rosas Piel san...,4,12.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3874,[006160] Yogur de soja con limón Sojade 4...,4,2.95,10,2.811111,10,2.65,16,2.65,5,...,10,2.9,10,2.9,7,2.9,16,3.04,123,2.826606
3875,[006161] Yogur de soja con plátano y mara...,5,2.95,7,2.95,7,2.65,5,2.65,7,...,5,2.9,5,2.9,NaN,NaN,8,3.0875,61,2.840164
3876,[006162] Yogur de soja natural Sojade 400 g,12,1.95,14,1.85,19,1.75,12,1.75,17,...,18,2,21,2,16,2,12,2.066667,194,1.92953
3877,[006163] Yogur de soja natural Sojade 4 x...,13,2.25,7,2.192857,7,2.05,6,2.25,2,...,10,2.3,14,2.3,7,2.3,9,2.407143,91,2.260526
3878,[006164] Yogur de soja quark griego Sojad...,6,2.1,11,2.011111,22,1.9,20,1.9,10,...,18,2.15,22,2.15,19,2.15,22,2.225,196,2.080822

In [16]:
registro = ventas_2021_new.Id_Prod.loc[3875]
print(registro)

     [006161] Yogur de soja con plátano y maracuyá sin azúcar Sojade 400 g

In [17]:
# OPCION INICIAL (Recomendacion-> borrar)
# Funcion para separar id y nombre producto
# def Separando_id_nomproducto(n):
#    global x
#    x=str(n)   
#    id_final=x[7:12]
#    nom_producto= x[14:-1]
#    return id_final, nom_producto

In [18]:
# OPCION INICIAL (Recomendacion-> borrar)
# Aplicar función para crear las columnas y verificar sus datos
# ventas_2021_mod= list(map(lambda n: Separando_id_nomproducto(n),ventas_2021_new['Id_Prod']))
# ventas_2021_mod[:10] # ojo falta eliminar espacios vacios y en algunos casos agregar la unidad de medida.

In [19]:
# OPCION INICIAL (Recomendacion-> borrar)
# convertir matriz
# ventas_2021_modi_id_nombre = pd.DataFrame(data = ventas_2021_mod, columns=['Id_Prod_2','Nom_Prod'])
# print(ventas_2021_modi_id_nombre)

In [20]:
# OPCION INICIAL (Recomendacion-> borrar)
# Comcadenar
# dfventas_2021 = pd.concat([ventas_2021_modi_id_nombre, ventas_2021_new], axis=1, join='inner')
# dfventas_2021 = dfventas_2021.drop(["Id_Prod"], axis=1)
# dfventas = dfventas.drop(["index"], axis=1)
# dfventas_2021.reset_index(inplace=True, drop=True)

In [21]:
# OPCION FINAL para separar en dos columnas Id_Prod y a la vez eliminar espacios vacios e irregulares
ventas_2021_new["Id_Prod"]=ventas_2021_new["Id_Prod"].astype("category")
ventas_2021_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3876 entries, 3 to 3878
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id_Prod            3876 non-null   category
 1   Cant_Prod_Ene      1904 non-null   object
 2   Precio_Prod_Ene    1904 non-null   object
 3   Cant_Prod_Feb      2064 non-null   object
 4   Precio_Prod_Feb    2064 non-null   object
 5   Cant_Prod_Mar      2248 non-null   object
 6   Precio_Prod_Mar    2248 non-null   object
 7   Cant_Prod_Abr      2324 non-null   object
 8   Precio_Prod_Abr    2324 non-null   object
 9   Cant_Prod_May      2378 non-null   object
 10  Precio_Prod_May    2378 non-null   object
 11  Cant_Prod_Jun      2482 non-null   object
 12  Precio_Prod_Jun    2482 non-null   object
 13  Cant_Prod_Jul      2462 non-null   object
 14  Precio_Prod_Jul    2462 non-null   object
 15  Cant_Prod_Ago      2261 non-null   object
 16  Precio_Prod_Ago    2261 non-null   object
 17  Cant_Prod_Set      2539 non-null   object
 18  Precio_Prod_Set    2539 non-null   object
 19  Cant_Prod_Oct      2596 non-null   object
 20  Precio_Prod_Oct    2596 non-null   object
 21  Cant_Prod_Nov      2677 non-null   object
 22  Precio_Prod_Nov    2677 non-null   object
 23  Cant_Prod_Dic      2745 non-null   object
 24  Precio_Prod_Dic    2745 non-null   object
 25  Cant_Total_Prod    3876 non-null   object
 26  Precio_Total_Prod  3876 non-null   object
dtypes: category(1), object(26)
memory usage: 954.3+ KB

In [22]:
# Usamos la expresión regular para extraer el código y el nombre
patron = r'\[(.*?)\]\s*(.*)'
ventas_2021_new[['Id_Prod_2', 'Nom_Prod']] = ventas_2021_new['Id_Prod'].str.extract(patron)

In [23]:
ventas_2021_new.head(2)

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod,Id_Prod_2,Nom_Prod
3,[000007] Aceite árnica y romero Piel sana...,NaN,NaN,1,11.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7,000007,Aceite árnica y romero Piel sana 100 ml
4,[000008] Aceite caléndula y almendras Pie...,2,12.5,NaN,NaN,1,12.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5,000008,Aceite caléndula y almendras Piel sana 100 ml

In [24]:
# Obtén una lista con los nombres de las columnas 
nuevas_columnas = ['Id_Prod_2', 'Nom_Prod'] + list(ventas_2021_new.columns[:-2])

In [25]:
# Reorganiza el DataFrame 
ventas_2021_new = ventas_2021_new.reindex(columns=nuevas_columnas)
ventas_2021_new.head(3)

,Id_Prod_2,Nom_Prod,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,000007,Aceite árnica y romero Piel sana 100 ml,[000007] Aceite árnica y romero Piel sana...,NaN,NaN,1,11.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7
4,000008,Aceite caléndula y almendras Piel sana 100 ml,[000008] Aceite caléndula y almendras Pie...,2,12.5,NaN,NaN,1,12.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5
5,000009,Aceite coco Maya gold 450 ml,[000009] Aceite coco Maya gold 450 ml,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,8,2,8,2,8,2,8,18,8

In [26]:
len(ventas_2021_new)

3876

In [27]:
# Eliminar columna Id_Prod
ventas_2021_new=ventas_2021_new.drop("Id_Prod",axis=1)

In [28]:
ventas_2021_new.head(2)

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,1,11.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7
4,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,NaN,NaN,1,12.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5

In [29]:
# Reasignar nombre del dataframe
dfventas_2021=ventas_2021_new

In [30]:
# Proceso de transicion, aplicando nueva opcion para desdoblar columnas, verificar resultados por precaución.

In [31]:
# Separar columnas de Enero
dfventas_Ene_2021 = dfventas_2021.drop(["Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Ene_2021

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN
4,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN
7,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5
...,...,...,...,...
3874,006160,Yogur de soja con limón Sojade 400 g,4,2.95
3875,006161,Yogur de soja con plátano y maracuyá sin azúca...,5,2.95
3876,006162,Yogur de soja natural Sojade 400 g,12,1.95
3877,006163,Yogur de soja natural Sojade 4 x 100 g,13,2.25
3878,006164,Yogur de soja quark griego Sojade 400 g,6,2.1

In [32]:
# En los ultimos registros esta faltando la unidad de medida, verifique con los ultimos registros del primer dataframe.
registro2 = dfventas_Ene_2021.Nom_Prod.loc[3869]
print(registro2)

Yogur de coco con mango Abbot kinney 400 ml

In [33]:
# crea la lista de fechas especificadas
fecha = "31-01-2021"
lista_fechas_Enero_2021 = [fecha] * len(dfventas_Ene_2021)

In [34]:
# agrega la nueva columna al DataFrame
dfventas_Ene_2021["fecha"] = lista_fechas_Enero_2021
dfventas_Ene_2021

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-01-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,31-01-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-01-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-01-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,31-01-2021
...,...,...,...,...,...
3874,006160,Yogur de soja con limón Sojade 400 g,4,2.95,31-01-2021
3875,006161,Yogur de soja con plátano y maracuyá sin azúca...,5,2.95,31-01-2021
3876,006162,Yogur de soja natural Sojade 400 g,12,1.95,31-01-2021
3877,006163,Yogur de soja natural Sojade 4 x 100 g,13,2.25,31-01-2021
3878,006164,Yogur de soja quark griego Sojade 400 g,6,2.1,31-01-2021

In [35]:
# Renombrar columnas enero  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Ene_2021.rename(columns={'Cant_Prod_Ene':'Cant_Prod', 
                            'Precio_Prod_Ene':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Ene_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-01-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,31-01-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-01-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-01-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,31-01-2021

In [36]:
# Separar columnas de Febrero
dfventas_Feb_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Feb_2021
# crea la lista de fechas especificadas
fecha = "28-02-2021"
lista_fechas_febreo_2021 = [fecha] * len(dfventas_Feb_2021)
# agrega la nueva columna al DataFrame
dfventas_Feb_2021["fecha"] = lista_fechas_febreo_2021
dfventas_Feb_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Feb,Precio_Prod_Feb,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,1,11.7,28-02-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,28-02-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,28-02-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,1,12.5,28-02-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,28-02-2021

In [37]:
# Renombrar columnas enero  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Feb_2021.rename(columns={'Cant_Prod_Feb':'Cant_Prod', 
                            'Precio_Prod_Feb':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Feb_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,1,11.7,28-02-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,28-02-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,28-02-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,1,12.5,28-02-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,28-02-2021

In [38]:
# Separar columnas de Marzo
dfventas_Mar_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Mar_2021
# crea la lista de fechas especificadas
fecha = "31-03-2021"
lista_fechas_marzo_2021 = [fecha] * len(dfventas_Mar_2021)
# agrega la nueva columna al DataFrame
dfventas_Mar_2021["fecha"] = lista_fechas_marzo_2021
dfventas_Mar_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Mar,Precio_Prod_Mar,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-03-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,1,12.5,31-03-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-03-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-03-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-03-2021

In [39]:
# Renombrar columnas marzo  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Mar_2021.rename(columns={'Cant_Prod_Mar':'Cant_Prod', 
                            'Precio_Prod_Mar':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Mar_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-03-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,1,12.5,31-03-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-03-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-03-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-03-2021

In [40]:
# Separar columnas de Abril
dfventas_Abr_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Abr_2021
# crea la lista de fechas especificadas
fecha = "30-04-2021"
lista_fechas_abril_2021 = [fecha] * len(dfventas_Abr_2021)
# agrega la nueva columna al DataFrame
dfventas_Abr_2021["fecha"] = lista_fechas_abril_2021
dfventas_Abr_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Abr,Precio_Prod_Abr,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-04-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,30-04-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,30-04-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-04-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-04-2021

In [41]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Abr_2021.rename(columns={'Cant_Prod_Abr':'Cant_Prod', 
                            'Precio_Prod_Abr':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Abr_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-04-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,30-04-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,30-04-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-04-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-04-2021

In [42]:
# Separar columnas de Mayo
dfventas_May_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_May_2021
# crea la lista de fechas especificadas
fecha = "31-05-2021"
lista_fechas_mayo_2021 = [fecha] * len(dfventas_May_2021)
# agrega la nueva columna al DataFrame
dfventas_May_2021["fecha"] = lista_fechas_mayo_2021
dfventas_May_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_May,Precio_Prod_May,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-05-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-05-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-05-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-05-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-05-2021

In [43]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_May_2021.rename(columns={'Cant_Prod_May':'Cant_Prod', 
                            'Precio_Prod_May':'Precio_Prod',                            
                             }, inplace=True)
dfventas_May_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-05-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-05-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-05-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-05-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-05-2021

In [44]:
# Separar columnas de Jun
dfventas_Jun_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Jun_2021
# crea la lista de fechas especificadas
fecha = "30-06-2021"
lista_fechas_junio_2021 = [fecha] * len(dfventas_Jun_2021)
# agrega la nueva columna al DataFrame
dfventas_Jun_2021["fecha"] = lista_fechas_junio_2021
dfventas_Jun_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Jun,Precio_Prod_Jun,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-06-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,30-06-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,30-06-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-06-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-06-2021

In [45]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Jun_2021.rename(columns={'Cant_Prod_Jun':'Cant_Prod', 
                            'Precio_Prod_Jun':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Jun_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-06-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,30-06-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,30-06-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-06-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-06-2021

In [46]:
# Separar columnas de Jul
dfventas_Jul_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Jul_2021
# crea la lista de fechas especificadas
fecha = "31-07-2021"
lista_fechas_julio_2021 = [fecha] * len(dfventas_Jul_2021)
# agrega la nueva columna al DataFrame
dfventas_Jul_2021["fecha"] = lista_fechas_julio_2021
dfventas_Jul_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Jul,Precio_Prod_Jul,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-07-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-07-2021
5,000009,Aceite coco Maya gold 450 ml,4,8,31-07-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-07-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-07-2021

In [47]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Jul_2021.rename(columns={'Cant_Prod_Jul':'Cant_Prod', 
                            'Precio_Prod_Jul':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Jul_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-07-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-07-2021
5,000009,Aceite coco Maya gold 450 ml,4,8,31-07-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-07-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-07-2021

In [48]:
# Separar columnas de Agosto
dfventas_Ago_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Ago_2021
# crea la lista de fechas especificadas
fecha = "31-08-2021"
lista_fechas_agosto_2021 = [fecha] * len(dfventas_Ago_2021)
# agrega la nueva columna al DataFrame
dfventas_Ago_2021["fecha"] = lista_fechas_agosto_2021
dfventas_Ago_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Ago,Precio_Prod_Ago,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-08-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-08-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-08-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-08-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-08-2021

In [49]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Ago_2021.rename(columns={'Cant_Prod_Ago':'Cant_Prod', 
                            'Precio_Prod_Ago':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Ago_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-08-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-08-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-08-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-08-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-08-2021

In [50]:
# Separar columnas de Setiembre
dfventas_Set_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Set_2021
# crea la lista de fechas especificadas
fecha = "30-09-2021"
lista_fechas_setiembre_2021 = [fecha] * len(dfventas_Set_2021)
# agrega la nueva columna al DataFrame
dfventas_Set_2021["fecha"] = lista_fechas_setiembre_2021
dfventas_Set_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Set,Precio_Prod_Set,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-09-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,30-09-2021
5,000009,Aceite coco Maya gold 450 ml,6,8,30-09-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-09-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-09-2021

In [51]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Set_2021.rename(columns={'Cant_Prod_Set':'Cant_Prod', 
                            'Precio_Prod_Set':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Set_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-09-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,30-09-2021
5,000009,Aceite coco Maya gold 450 ml,6,8,30-09-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-09-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-09-2021

In [52]:
# Separar columnas de Octubre
dfventas_Oct_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Oct_2021
# crea la lista de fechas especificadas
fecha = "31-10-2021"
lista_fechas_octubre_2021 = [fecha] * len(dfventas_Oct_2021)
# agrega la nueva columna al DataFrame
dfventas_Oct_2021["fecha"] = lista_fechas_octubre_2021
dfventas_Oct_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Oct,Precio_Prod_Oct,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-10-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-10-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,31-10-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-10-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-10-2021

In [53]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Oct_2021.rename(columns={'Cant_Prod_Oct':'Cant_Prod', 
                            'Precio_Prod_Oct':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Oct_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-10-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-10-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,31-10-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-10-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-10-2021

In [54]:
# Separar columnas de Noviembre
dfventas_Nov_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Nov_2021
# crea la lista de fechas especificadas
fecha = "30-11-2021"
lista_fechas_noviembre_2021 = [fecha] * len(dfventas_Nov_2021)
# agrega la nueva columna al DataFrame
dfventas_Nov_2021["fecha"] = lista_fechas_noviembre_2021
dfventas_Nov_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Nov,Precio_Prod_Nov,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-11-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,30-11-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,30-11-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-11-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-11-2021

In [55]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Nov_2021.rename(columns={'Cant_Prod_Nov':'Cant_Prod', 
                            'Precio_Prod_Nov':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Nov_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-11-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,30-11-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,30-11-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-11-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-11-2021

In [56]:
# Separar columnas de Diciemre
dfventas_Dic_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Dic_2021
# crea la lista de fechas especificadas
fecha = "31-12-2021"
lista_fechas_diciembre_2021 = [fecha] * len(dfventas_Dic_2021)
# agrega la nueva columna al DataFrame
dfventas_Dic_2021["fecha"] = lista_fechas_diciembre_2021
dfventas_Dic_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Dic,Precio_Prod_Dic,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-12-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-12-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,31-12-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-12-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-12-2021

In [57]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Dic_2021.rename(columns={'Cant_Prod_Dic':'Cant_Prod', 
                            'Precio_Prod_Dic':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Dic_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-12-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-12-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,31-12-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-12-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-12-2021

In [58]:
len(dfventas_Dic_2021)

3876

In [59]:
# Concatenar dataframe
dfventas_2021 = pd.concat([dfventas_Ene_2021, dfventas_Feb_2021, dfventas_Mar_2021, dfventas_Abr_2021, dfventas_May_2021, dfventas_Jun_2021, dfventas_Jul_2021, dfventas_Ago_2021, dfventas_Set_2021, dfventas_Oct_2021, dfventas_Nov_2021, dfventas_Dic_2021], axis=0)
dfventas_2021.reset_index(inplace=True, drop=True)
dfventas_2021

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-01-2021
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,31-01-2021
2,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-01-2021
3,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-01-2021
4,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,31-01-2021
...,...,...,...,...,...
46507,006160,Yogur de soja con limón Sojade 400 g,16,3.04,31-12-2021
46508,006161,Yogur de soja con plátano y maracuyá sin azúca...,8,3.0875,31-12-2021
46509,006162,Yogur de soja natural Sojade 400 g,12,2.066667,31-12-2021
46510,006163,Yogur de soja natural Sojade 4 x 100 g,9,2.407143,31-12-2021
46511,006164,Yogur de soja quark griego Sojade 400 g,22,2.225,31-12-2021

In [60]:
# Convertir la columna de fecha al formato adecuado
dfventas_2021['fecha'] = pd.to_datetime(dfventas_2021['fecha'], format='%d-%m-%Y')

In [61]:
# probamos eliminado NAN
dfventas_sin_nan = dfventas_2021

In [62]:
dfventas_sin_nan = dfventas_sin_nan.dropna()
dfventas_sin_nan

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,2021-01-31
4,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,2021-01-31
9,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,9,18.5,2021-01-31
10,000019,Aceite oliva virgen extra Umbria oretana 500 m...,1,11.9,2021-01-31
11,000020,Aceite oliva virgen extra Umbria oretana 5 L,5,32.75,2021-01-31
...,...,...,...,...,...
46507,006160,Yogur de soja con limón Sojade 400 g,16,3.04,2021-12-31
46508,006161,Yogur de soja con plátano y maracuyá sin azúca...,8,3.0875,2021-12-31
46509,006162,Yogur de soja natural Sojade 400 g,12,2.066667,2021-12-31
46510,006163,Yogur de soja natural Sojade 4 x 100 g,9,2.407143,2021-12-31
46511,006164,Yogur de soja quark griego Sojade 400 g,22,2.225,2021-12-31

In [63]:
# probamos reemplazando NaN con cero
dfventas_con_cero = dfventas_2021

In [64]:
dfventas_con_cero = dfventas_con_cero.fillna(0)
dfventas_con_cero

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000007,Aceite árnica y romero Piel sana 100 ml,0.0,0.000000,2021-01-31
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2.0,12.500000,2021-01-31
2,000009,Aceite coco Maya gold 450 ml,0.0,0.000000,2021-01-31
3,000010,Aceite desmaquillador Piel sana 100 ml,0.0,0.000000,2021-01-31
4,000011,Aceite espliego y rosas Piel sana 100 ml,4.0,12.500000,2021-01-31
...,...,...,...,...,...
46507,006160,Yogur de soja con limón Sojade 400 g,16.0,3.040000,2021-12-31
46508,006161,Yogur de soja con plátano y maracuyá sin azúca...,8.0,3.087500,2021-12-31
46509,006162,Yogur de soja natural Sojade 400 g,12.0,2.066667,2021-12-31
46510,006163,Yogur de soja natural Sojade 4 x 100 g,9.0,2.407143,2021-12-31
46511,006164,Yogur de soja quark griego Sojade 400 g,22.0,2.225000,2021-12-31

### Ventas_2022  (Falta depurar)

In [65]:
#Datasets de venta de productos al publico 2021
ventas_2022= pd.read_excel("Ventas_PVP_inflación_2022.xls")
ventas_2022

,Unnamed: 0,Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,enero 2022,NaN,febrero 2022,NaN,marzo 2022,NaN,abril 2022,NaN,mayo 2022,...,septiembre 2022,NaN,octubre 2022,NaN,noviembre 2022,NaN,diciembre 2022,NaN,NaN,NaN
1,NaN,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,...,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio
2,Total,31448.363,3.757765,33712.823,3.779414,40735.883,3.761538,35024.322,3.89496,33788.774,...,29279.64,3.886839,29849.821,3.931161,30445.756,3.874141,31114.784,4.232161,371375.069,3.862021
3,[000009] Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,8,4,...,NaN,NaN,2,8,2,8,1,8,21,8
4,[000013] Aceite de girasol Virgen bio Fra...,NaN,NaN,2,4.15,3,4.15,1,4.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3932,[006511] Láminas lasagña de sémola Castag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2,3.35,2,3.35
3933,[006515] Yogur de avena natural Alpro 500 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3934,[006516] Yogur de coco natural Alpro 350 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3935,[006518] Yogur vegetal con arandanos Alpr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3936,[6499] Pularda Sanchonar aprox 3 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.84,13.75,11.84,13.75

In [66]:
# Visualizar columnas
ventas_2022.columns

Index(['Unnamed: 0', 'Total', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26'],
      dtype='object')

In [67]:
# Renombrar columnas
ventas_2022.rename(columns={'Unnamed: 0':'Id_Prod', 
                            'Total':'Cant_Prod_Ene',
                            'Unnamed: 2':'Precio_Prod_Ene', 
                            'Unnamed: 3':'Cant_Prod_Feb',
                            'Unnamed: 4':'Precio_Prod_Feb', 
                            'Unnamed: 5':'Cant_Prod_Mar',
                            'Unnamed: 6':'Precio_Prod_Mar', 
                            'Unnamed: 7':'Cant_Prod_Abr',
                            'Unnamed: 8':'Precio_Prod_Abr', 
                            'Unnamed: 9':'Cant_Prod_May',
                            'Unnamed: 10':'Precio_Prod_May', 
                            'Unnamed: 11':'Cant_Prod_Jun',
                            'Unnamed: 12':'Precio_Prod_Jun', 
                            'Unnamed: 13':'Cant_Prod_Jul',
                            'Unnamed: 14':'Precio_Prod_Jul', 
                            'Unnamed: 15':'Cant_Prod_Ago',
                            'Unnamed: 16':'Precio_Prod_Ago', 
                            'Unnamed: 17':'Cant_Prod_Set',
                            'Unnamed: 18':'Precio_Prod_Set', 
                            'Unnamed: 19':'Cant_Prod_Oct', 
                            'Unnamed: 20':'Precio_Prod_Oct', 
                            'Unnamed: 21':'Cant_Prod_Nov', 
                            'Unnamed: 22':'Precio_Prod_Nov', 
                            'Unnamed: 23':'Cant_Prod_Dic', 
                            'Unnamed: 24':'Precio_Prod_Dic', 
                            'Unnamed: 25':'Cant_Total_Prod', 
                            'Unnamed: 26':'Precio_Total_Prod'
                             }, inplace=True)

In [68]:
ventas_2022

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
0,NaN,enero 2022,NaN,febrero 2022,NaN,marzo 2022,NaN,abril 2022,NaN,mayo 2022,...,septiembre 2022,NaN,octubre 2022,NaN,noviembre 2022,NaN,diciembre 2022,NaN,NaN,NaN
1,NaN,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,...,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio
2,Total,31448.363,3.757765,33712.823,3.779414,40735.883,3.761538,35024.322,3.89496,33788.774,...,29279.64,3.886839,29849.821,3.931161,30445.756,3.874141,31114.784,4.232161,371375.069,3.862021
3,[000009] Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,8,4,...,NaN,NaN,2,8,2,8,1,8,21,8
4,[000013] Aceite de girasol Virgen bio Fra...,NaN,NaN,2,4.15,3,4.15,1,4.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3932,[006511] Láminas lasagña de sémola Castag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2,3.35,2,3.35
3933,[006515] Yogur de avena natural Alpro 500 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3934,[006516] Yogur de coco natural Alpro 350 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3935,[006518] Yogur vegetal con arandanos Alpr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3936,[6499] Pularda Sanchonar aprox 3 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.84,13.75,11.84,13.75

In [69]:
# Eliminar 3 filas
ventas_2022_new = ventas_2022.drop([0, 1,2])
ventas_2022_new

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,[000009] Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,8,4,...,NaN,NaN,2,8,2,8,1,8,21,8
4,[000013] Aceite de girasol Virgen bio Fra...,NaN,NaN,2,4.15,3,4.15,1,4.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15
5,[000018] Aceite oliva virgen extra Umbria...,1,18.5,7,18.5,7,18.5,9,18.5,5,...,7,18.5,6,18.5,7,18.5,7,18.5,64,18.5
6,[000020] Aceite oliva virgen extra Umbria...,1,32.75,7,32.75,8,32.75,5,32.75,2,...,7,32.75,4,32.75,4,32.75,NaN,NaN,51,32.75
7,[000021] Aceite oliva virgen extra Umbria...,2,30.5,7,30.5,14,30.5,6,30.5,2,...,7,30.5,5,30.5,4,30.5,NaN,NaN,60,30.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3932,[006511] Láminas lasagña de sémola Castag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2,3.35,2,3.35
3933,[006515] Yogur de avena natural Alpro 500 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3934,[006516] Yogur de coco natural Alpro 350 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3935,[006518] Yogur vegetal con arandanos Alpr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3936,[6499] Pularda Sanchonar aprox 3 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.84,13.75,11.84,13.75

In [70]:
registro = ventas_2022_new.Id_Prod.loc[3875]
print(registro)

     [006425] Hummus De Cúrcuma Fresco Bio Vegetalia 220g.

In [71]:
registro = ventas_2022_new.Id_Prod.loc[3935]
print(registro)

     [006518] Yogur vegetal con arandanos Alpro 500 gr

In [72]:
registro = ventas_2022_new.Id_Prod.loc[3936]
print(registro)

     [6499] Pularda Sanchonar aprox 3 kg

In [73]:
# Proceso para separar dos columnas a partir de Id_Prod
ventas_2022_new["Id_Prod"]=ventas_2022_new["Id_Prod"].astype("category")
ventas_2022_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3934 entries, 3 to 3936
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id_Prod            3934 non-null   category
 1   Cant_Prod_Ene      2720 non-null   object
 2   Precio_Prod_Ene    2720 non-null   object
 3   Cant_Prod_Feb      2659 non-null   object
 4   Precio_Prod_Feb    2659 non-null   object
 5   Cant_Prod_Mar      2747 non-null   object
 6   Precio_Prod_Mar    2747 non-null   object
 7   Cant_Prod_Abr      2738 non-null   object
 8   Precio_Prod_Abr    2738 non-null   object
 9   Cant_Prod_May      2665 non-null   object
 10  Precio_Prod_May    2665 non-null   object
 11  Cant_Prod_Jun      2602 non-null   object
 12  Precio_Prod_Jun    2602 non-null   object
 13  Cant_Prod_Jul      2523 non-null   object
 14  Precio_Prod_Jul    2523 non-null   object
 15  Cant_Prod_Ago      2358 non-null   object
 16  Precio_Prod_Ago    2358 non-null   object
 17  Cant_Prod_Set      2604 non-null   object
 18  Precio_Prod_Set    2604 non-null   object
 19  Cant_Prod_Oct      2611 non-null   object
 20  Precio_Prod_Oct    2611 non-null   object
 21  Cant_Prod_Nov      2641 non-null   object
 22  Precio_Prod_Nov    2641 non-null   object
 23  Cant_Prod_Dic      2717 non-null   object
 24  Precio_Prod_Dic    2717 non-null   object
 25  Cant_Total_Prod    3934 non-null   object
 26  Precio_Total_Prod  3934 non-null   object
dtypes: category(1), object(26)
memory usage: 966.7+ KB

In [74]:
# Usamos la expresión regular para extraer el código y el nombre
patron = r'\[(.*?)\]\s*(.*)'
ventas_2022_new[['Id_Prod_2', 'Nom_Prod']] = ventas_2022_new['Id_Prod'].str.extract(patron)

In [75]:
ventas_2022_new.head(2)

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod,Id_Prod_2,Nom_Prod
3,[000009] Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,8,4,...,2,8,2,8,1,8,21,8,000009,Aceite coco Maya gold 450 ml
4,[000013] Aceite de girasol Virgen bio Fra...,NaN,NaN,2,4.15,3,4.15,1,4.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15,000013,Aceite de girasol Virgen bio Franciscanos 1 L

In [76]:
# Obtén una lista con los nombres de las columnas 
nuevas_columnas = ['Id_Prod_2', 'Nom_Prod'] + list(ventas_2022_new.columns[:-2])

# Reorganiza el DataFrame 
ventas_2022_new = ventas_2022_new.reindex(columns=nuevas_columnas)
ventas_2022_new.head(3)

,Id_Prod_2,Nom_Prod,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,000009,Aceite coco Maya gold 450 ml,[000009] Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,...,NaN,NaN,2,8,2,8,1,8,21,8
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,[000013] Aceite de girasol Virgen bio Fra...,NaN,NaN,2,4.15,3,4.15,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,[000018] Aceite oliva virgen extra Umbria...,1,18.5,7,18.5,7,18.5,9,...,7,18.5,6,18.5,7,18.5,7,18.5,64,18.5

In [77]:
# Eliminar columna Id_Prod
ventas_2022_new=ventas_2022_new.drop("Id_Prod",axis=1)

In [78]:
ventas_2022_new.head(2)

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,000009,Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,8,...,NaN,NaN,2,8,2,8,1,8,21,8
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,2,4.15,3,4.15,1,4.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15

In [79]:
# Reasignar nombre del dataframe
dfventas_2022=ventas_2022_new

In [80]:
# Separar columnas de Enero
dfventas_Ene_2022 = dfventas_2022.drop(["Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Ene_2022

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene
3,000009,Aceite coco Maya gold 450 ml,4,8
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1,18.5
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,1,32.75
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5
...,...,...,...,...
3932,006511,Láminas lasagña de sémola Castagno 500 g,NaN,NaN
3933,006515,Yogur de avena natural Alpro 500 gr,NaN,NaN
3934,006516,Yogur de coco natural Alpro 350 gr,NaN,NaN
3935,006518,Yogur vegetal con arandanos Alpro 500 gr,NaN,NaN
3936,6499,Pularda Sanchonar aprox 3 kg,NaN,NaN

In [81]:
# En los ultimos registros esta faltando la unidad de medida, verifique con los ultimos registros del primer dataframe.
registro2 = dfventas_Ene_2022.Nom_Prod.loc[3869]
print(registro2)

Pate De Finas Hierbas Pequeño Bio Vegetalia 110g.

In [82]:
# crea la lista de fechas especificadas
fecha = "31-01-2022"
lista_fechas_Enero_2022 = [fecha] * len(dfventas_Ene_2022)

In [83]:
# agrega la nueva columna al DataFrame
dfventas_Ene_2022["fecha"] = lista_fechas_Enero_2022
dfventas_Ene_2022

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene,fecha
3,000009,Aceite coco Maya gold 450 ml,4,8,31-01-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-01-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1,18.5,31-01-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,1,32.75,31-01-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5,31-01-2022
...,...,...,...,...,...
3932,006511,Láminas lasagña de sémola Castagno 500 g,NaN,NaN,31-01-2022
3933,006515,Yogur de avena natural Alpro 500 gr,NaN,NaN,31-01-2022
3934,006516,Yogur de coco natural Alpro 350 gr,NaN,NaN,31-01-2022
3935,006518,Yogur vegetal con arandanos Alpro 500 gr,NaN,NaN,31-01-2022
3936,6499,Pularda Sanchonar aprox 3 kg,NaN,NaN,31-01-2022

In [84]:
# Renombrar columnas enero  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Ene_2022.rename(columns={'Cant_Prod_Ene':'Cant_Prod', 
                            'Precio_Prod_Ene':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Ene_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,4,8,31-01-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-01-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1,18.5,31-01-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,1,32.75,31-01-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5,31-01-2022

In [85]:
# Separar columnas de Febrero
dfventas_Feb_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Feb_2022
# crea la lista de fechas especificadas
fecha = "28-02-2022"
lista_fechas_febreo_2022 = [fecha] * len(dfventas_Feb_2022)
# agrega la nueva columna al DataFrame
dfventas_Feb_2022["fecha"] = lista_fechas_febreo_2022
dfventas_Feb_2022.head(3)

,Id_Prod_2,Nom_Prod,Cant_Prod_Feb,Precio_Prod_Feb,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,28-02-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,2,4.15,28-02-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,28-02-2022

In [86]:
# Renombrar columnas enero  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Feb_2022.rename(columns={'Cant_Prod_Feb':'Cant_Prod', 
                            'Precio_Prod_Feb':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Feb_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,28-02-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,2,4.15,28-02-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,28-02-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,7,32.75,28-02-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,7,30.5,28-02-2022

In [87]:
# Separar columnas de Marzo
dfventas_Mar_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Mar_2022
# crea la lista de fechas especificadas
fecha = "31-03-2022"
lista_fechas_marzo_2022 = [fecha] * len(dfventas_Mar_2022)
# agrega la nueva columna al DataFrame
dfventas_Mar_2022["fecha"] = lista_fechas_marzo_2022
dfventas_Mar_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Mar,Precio_Prod_Mar,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,31-03-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,3,4.15,31-03-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,31-03-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,8,32.75,31-03-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,14,30.5,31-03-2022

In [88]:
# Renombrar columnas marzo  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Mar_2022.rename(columns={'Cant_Prod_Mar':'Cant_Prod', 
                            'Precio_Prod_Mar':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Mar_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,31-03-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,3,4.15,31-03-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,31-03-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,8,32.75,31-03-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,14,30.5,31-03-2022

In [89]:
# Separar columnas de Abril
dfventas_Abr_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Abr_2022
# crea la lista de fechas especificadas
fecha = "30-04-2022"
lista_fechas_abril_2022 = [fecha] * len(dfventas_Abr_2022)
# agrega la nueva columna al DataFrame
dfventas_Abr_2022["fecha"] = lista_fechas_abril_2022
dfventas_Abr_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Abr,Precio_Prod_Abr,fecha
3,000009,Aceite coco Maya gold 450 ml,1,8,30-04-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,1,4.15,30-04-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,9,18.5,30-04-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,5,32.75,30-04-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,6,30.5,30-04-2022

In [90]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Abr_2022.rename(columns={'Cant_Prod_Abr':'Cant_Prod', 
                            'Precio_Prod_Abr':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Abr_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,1,8,30-04-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,1,4.15,30-04-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,9,18.5,30-04-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,5,32.75,30-04-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,6,30.5,30-04-2022

In [91]:
# Separar columnas de Mayo
dfventas_May_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_May_2022
# crea la lista de fechas especificadas
fecha = "31-05-2022"
lista_fechas_mayo_2022 = [fecha] * len(dfventas_May_2022)
# agrega la nueva columna al DataFrame
dfventas_May_2022["fecha"] = lista_fechas_mayo_2022
dfventas_May_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_May,Precio_Prod_May,fecha
3,000009,Aceite coco Maya gold 450 ml,4,8,31-05-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-05-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,5,18.5,31-05-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,2,32.75,31-05-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5,31-05-2022

In [92]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_May_2022.rename(columns={'Cant_Prod_May':'Cant_Prod', 
                            'Precio_Prod_May':'Precio_Prod',                            
                             }, inplace=True)
dfventas_May_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,4,8,31-05-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-05-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,5,18.5,31-05-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,2,32.75,31-05-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5,31-05-2022

In [93]:
# Separar columnas de Jun
dfventas_Jun_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Jun_2022
# crea la lista de fechas especificadas
fecha = "30-06-2022"
lista_fechas_junio_2022 = [fecha] * len(dfventas_Jun_2022)
# agrega la nueva columna al DataFrame
dfventas_Jun_2022["fecha"] = lista_fechas_junio_2022
dfventas_Jun_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Jun,Precio_Prod_Jun,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,30-06-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,30-06-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,2,18.5,30-06-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,3,32.75,30-06-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,3,30.5,30-06-2022

In [94]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Jun_2022.rename(columns={'Cant_Prod_Jun':'Cant_Prod', 
                            'Precio_Prod_Jun':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Jun_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,30-06-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,30-06-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,2,18.5,30-06-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,3,32.75,30-06-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,3,30.5,30-06-2022

In [95]:
# Separar columnas de Jul
dfventas_Jul_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Jul_2022
# crea la lista de fechas especificadas
fecha = "31-07-2022"
lista_fechas_julio_2022 = [fecha] * len(dfventas_Jul_2022)
# agrega la nueva columna al DataFrame
dfventas_Jul_2022["fecha"] = lista_fechas_julio_2022
dfventas_Jul_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Jul,Precio_Prod_Jul,fecha
3,000009,Aceite coco Maya gold 450 ml,1,8,31-07-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-07-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,2,18.5,31-07-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,6,32.75,31-07-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,5,30.5,31-07-2022

In [96]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Jul_2022.rename(columns={'Cant_Prod_Jul':'Cant_Prod', 
                            'Precio_Prod_Jul':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Jul_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,1,8,31-07-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-07-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,2,18.5,31-07-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,6,32.75,31-07-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,5,30.5,31-07-2022

In [97]:
# Separar columnas de Agosto
dfventas_Ago_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Ago_2022
# crea la lista de fechas especificadas
fecha = "31-08-2022"
lista_fechas_agosto_2022 = [fecha] * len(dfventas_Ago_2022)
# agrega la nueva columna al DataFrame
dfventas_Ago_2022["fecha"] = lista_fechas_agosto_2022
dfventas_Ago_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Ago,Precio_Prod_Ago,fecha
3,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-08-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-08-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,4,18.5,31-08-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,4,32.75,31-08-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,5,30.5,31-08-2022

In [98]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Ago_2022.rename(columns={'Cant_Prod_Ago':'Cant_Prod', 
                            'Precio_Prod_Ago':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Ago_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-08-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-08-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,4,18.5,31-08-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,4,32.75,31-08-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,5,30.5,31-08-2022

In [99]:
# Separar columnas de Setiembre
dfventas_Set_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Set_2022
# crea la lista de fechas especificadas
fecha = "30-09-2022"
lista_fechas_setiembre_2022 = [fecha] * len(dfventas_Set_2022)
# agrega la nueva columna al DataFrame
dfventas_Set_2022["fecha"] = lista_fechas_setiembre_2022
dfventas_Set_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Set,Precio_Prod_Set,fecha
3,000009,Aceite coco Maya gold 450 ml,NaN,NaN,30-09-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,30-09-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,30-09-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,7,32.75,30-09-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,7,30.5,30-09-2022

In [100]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Set_2022.rename(columns={'Cant_Prod_Set':'Cant_Prod', 
                            'Precio_Prod_Set':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Set_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,NaN,NaN,30-09-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,30-09-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,30-09-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,7,32.75,30-09-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,7,30.5,30-09-2022

In [101]:
# Separar columnas de Octubre
dfventas_Oct_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Oct_2022
# crea la lista de fechas especificadas
fecha = "31-10-2022"
lista_fechas_octubre_2022 = [fecha] * len(dfventas_Oct_2022)
# agrega la nueva columna al DataFrame
dfventas_Oct_2022["fecha"] = lista_fechas_octubre_2022
dfventas_Oct_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Oct,Precio_Prod_Oct,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,31-10-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-10-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,6,18.5,31-10-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,4,32.75,31-10-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,5,30.5,31-10-2022

In [102]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Oct_2022.rename(columns={'Cant_Prod_Oct':'Cant_Prod', 
                            'Precio_Prod_Oct':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Oct_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,31-10-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-10-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,6,18.5,31-10-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,4,32.75,31-10-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,5,30.5,31-10-2022

In [103]:
# Separar columnas de Noviembre
dfventas_Nov_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Nov_2022
# crea la lista de fechas especificadas
fecha = "30-11-2022"
lista_fechas_noviembre_2022 = [fecha] * len(dfventas_Nov_2022)
# agrega la nueva columna al DataFrame
dfventas_Nov_2022["fecha"] = lista_fechas_noviembre_2022
dfventas_Nov_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Nov,Precio_Prod_Nov,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,30-11-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,30-11-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,30-11-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,4,32.75,30-11-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,4,30.5,30-11-2022

In [104]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Nov_2022.rename(columns={'Cant_Prod_Nov':'Cant_Prod', 
                            'Precio_Prod_Nov':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Nov_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,30-11-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,30-11-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,30-11-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,4,32.75,30-11-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,4,30.5,30-11-2022

In [105]:
# Separar columnas de Diciemre
dfventas_Dic_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Dic_2022
# crea la lista de fechas especificadas
fecha = "31-12-2022"
lista_fechas_diciembre_2022 = [fecha] * len(dfventas_Dic_2022)
# agrega la nueva columna al DataFrame
dfventas_Dic_2022["fecha"] = lista_fechas_diciembre_2022
dfventas_Dic_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Dic,Precio_Prod_Dic,fecha
3,000009,Aceite coco Maya gold 450 ml,1,8,31-12-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-12-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,31-12-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,NaN,NaN,31-12-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,NaN,NaN,31-12-2022

In [106]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Dic_2022.rename(columns={'Cant_Prod_Dic':'Cant_Prod', 
                            'Precio_Prod_Dic':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Dic_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,1,8,31-12-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-12-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,31-12-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,NaN,NaN,31-12-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,NaN,NaN,31-12-2022

In [107]:
len(dfventas_Dic_2022)

3934

In [108]:
# Concatenar dataframe
dfventas_2022 = pd.concat([dfventas_Ene_2022, dfventas_Feb_2022, dfventas_Mar_2022, dfventas_Abr_2022, dfventas_May_2022, dfventas_Jun_2022, dfventas_Jul_2022, dfventas_Ago_2022, dfventas_Set_2022, dfventas_Oct_2022, dfventas_Nov_2022, dfventas_Dic_2022], axis=0)
dfventas_2022.reset_index(inplace=True, drop=True)
dfventas_2022

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000009,Aceite coco Maya gold 450 ml,4,8,31-01-2022
1,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-01-2022
2,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1,18.5,31-01-2022
3,000020,Aceite oliva virgen extra Umbria oretana 5 L,1,32.75,31-01-2022
4,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5,31-01-2022
...,...,...,...,...,...
47203,006511,Láminas lasagña de sémola Castagno 500 g,2,3.35,31-12-2022
47204,006515,Yogur de avena natural Alpro 500 gr,1,2.85,31-12-2022
47205,006516,Yogur de coco natural Alpro 350 gr,1,2.85,31-12-2022
47206,006518,Yogur vegetal con arandanos Alpro 500 gr,1,2.85,31-12-2022
47207,6499,Pularda Sanchonar aprox 3 kg,11.84,13.75,31-12-2022

In [109]:
# Convertir la columna de fecha al formato adecuado
dfventas_2022['fecha'] = pd.to_datetime(dfventas_2022['fecha'], format='%d-%m-%Y')

In [110]:
dfventas_2022.head(3)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000009,Aceite coco Maya gold 450 ml,4,8,2022-01-31
1,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,2022-01-31
2,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1,18.5,2022-01-31

In [111]:
# probamos eliminado NAN
dfventas_2022_sin_nan = dfventas_2022

In [112]:
dfventas_2022_sin_nan= dfventas_2022_sin_nan.dropna()
dfventas_2022_sin_nan.reset_index(inplace=True, drop=True)
dfventas_2022_sin_nan

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000009,Aceite coco Maya gold 450 ml,4,8,2022-01-31
1,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1,18.5,2022-01-31
2,000020,Aceite oliva virgen extra Umbria oretana 5 L,1,32.75,2022-01-31
3,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5,2022-01-31
4,000023,Aceite rosa mosqueta y damáscena Piel sana 50 ml,2,26.2,2022-01-31
...,...,...,...,...,...
31580,006511,Láminas lasagña de sémola Castagno 500 g,2,3.35,2022-12-31
31581,006515,Yogur de avena natural Alpro 500 gr,1,2.85,2022-12-31
31582,006516,Yogur de coco natural Alpro 350 gr,1,2.85,2022-12-31
31583,006518,Yogur vegetal con arandanos Alpro 500 gr,1,2.85,2022-12-31
31584,6499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12-31

In [113]:
# probamos reemplazando NaN con cero
dfventas_2022_con_cero = dfventas_2022

In [114]:
dfventas_2022_con_cero = dfventas_2022_con_cero.fillna(0)
dfventas_2022_con_cero.reset_index(inplace=True, drop=True)
dfventas_2022_con_cero

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000009,Aceite coco Maya gold 450 ml,4.00,8.00,2022-01-31
1,000013,Aceite de girasol Virgen bio Franciscanos 1 L,0.00,0.00,2022-01-31
2,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1.00,18.50,2022-01-31
3,000020,Aceite oliva virgen extra Umbria oretana 5 L,1.00,32.75,2022-01-31
4,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2.00,30.50,2022-01-31
...,...,...,...,...,...
47203,006511,Láminas lasagña de sémola Castagno 500 g,2.00,3.35,2022-12-31
47204,006515,Yogur de avena natural Alpro 500 gr,1.00,2.85,2022-12-31
47205,006516,Yogur de coco natural Alpro 350 gr,1.00,2.85,2022-12-31
47206,006518,Yogur vegetal con arandanos Alpro 500 gr,1.00,2.85,2022-12-31
47207,6499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12-31

## Proceso para concatenar dfventas_2021 y dfventas_2022

In [115]:
# Concatenar dataframe
dfventas_2021_2022 = pd.concat([dfventas_2021, dfventas_2022], axis=0)
dfventas_2021_2022.reset_index(inplace=True, drop=True)
dfventas_2021_2022

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,2021-01-31
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,2021-01-31
2,000009,Aceite coco Maya gold 450 ml,NaN,NaN,2021-01-31
3,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,2021-01-31
4,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,2021-01-31
...,...,...,...,...,...
93715,006511,Láminas lasagña de sémola Castagno 500 g,2,3.35,2022-12-31
93716,006515,Yogur de avena natural Alpro 500 gr,1,2.85,2022-12-31
93717,006516,Yogur de coco natural Alpro 350 gr,1,2.85,2022-12-31
93718,006518,Yogur vegetal con arandanos Alpro 500 gr,1,2.85,2022-12-31
93719,6499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12-31

In [116]:
# Probamos eliminado NAN, para obtener un nuevo dataframe dfventas_2021_2022
dfventas_2021_2022_sin_nan = dfventas_2021_2022

In [117]:
dfventas_2021_2022_sin_nan = dfventas_2021_2022_sin_nan .dropna()
dfventas_2021_2022_sin_nan.reset_index(inplace=True, drop=True)
dfventas_2021_2022_sin_nan

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,2021-01-31
1,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,2021-01-31
2,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,9,18.5,2021-01-31
3,000019,Aceite oliva virgen extra Umbria oretana 500 m...,1,11.9,2021-01-31
4,000020,Aceite oliva virgen extra Umbria oretana 5 L,5,32.75,2021-01-31
...,...,...,...,...,...
60260,006511,Láminas lasagña de sémola Castagno 500 g,2,3.35,2022-12-31
60261,006515,Yogur de avena natural Alpro 500 gr,1,2.85,2022-12-31
60262,006516,Yogur de coco natural Alpro 350 gr,1,2.85,2022-12-31
60263,006518,Yogur vegetal con arandanos Alpro 500 gr,1,2.85,2022-12-31
60264,6499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12-31

In [118]:
# Probamos reemplazando NaN con cero un nuevo dataframe dfventas_2021_2022
dfventas_2021_2022_con_cero = dfventas_2021_2022

In [119]:
dfventas_2021_2022_con_cero = dfventas_2021_2022_con_cero.fillna(0)
dfventas_2021_2022_con_cero.reset_index(inplace=True, drop=True)
dfventas_2021_2022_con_cero

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000007,Aceite árnica y romero Piel sana 100 ml,0.00,0.00,2021-01-31
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2.00,12.50,2021-01-31
2,000009,Aceite coco Maya gold 450 ml,0.00,0.00,2021-01-31
3,000010,Aceite desmaquillador Piel sana 100 ml,0.00,0.00,2021-01-31
4,000011,Aceite espliego y rosas Piel sana 100 ml,4.00,12.50,2021-01-31
...,...,...,...,...,...
93715,006511,Láminas lasagña de sémola Castagno 500 g,2.00,3.35,2022-12-31
93716,006515,Yogur de avena natural Alpro 500 gr,1.00,2.85,2022-12-31
93717,006516,Yogur de coco natural Alpro 350 gr,1.00,2.85,2022-12-31
93718,006518,Yogur vegetal con arandanos Alpro 500 gr,1.00,2.85,2022-12-31
93719,6499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12-31

In [120]:
# Tenemos los siguientes dataframe limpios, los dos últimos estan imputados (eliminando NaN y reemplazando con cero los datos faltantes)
# dfventas_2021_2022
# dfventas_2021_2022_sin_nan 
# dfventas_2021_2022_con_cero