# Análsis Exploraotio de precios de compras y ventas Supermercado La Osa - Madrid

In [1]:
import pandas as pd
import seaborn as sn
import numpy as np
import matplotlib as ploty

### Importamos los datasets

In [2]:
#Datasets de compra de productos a proveedores 2021-2022
precio_enejun= pd.read_excel("Evolución_precio_enerojunio22.xls")
precio_juldic= pd.read_excel("Evolución_precio_juliodiciembre22.xls") # obs columna dic
precio_2021= pd.read_excel("Price_history_2021.xls")
precio_2022= pd.read_excel("Price_history_122022.xls")  # Una sóla columna aparentemente similar a dic de precio_juldic

#Datasets de venta de productis al publico 2021-2022
ventas_2021= pd.read_excel("Ventas_PVP_inflación_2021.xls")
ventas_2022= pd.read_excel("Ventas_PVP_inflación_2022.xls")

### Exploramos los datasets de precio
* `Price_history_122022.xls` -->Hay información de Diciembre del 2022, la cual aparentemente ya está en el archivo `Evolución_precio_juliodiciembre22.xls`
* Tenemos que corroborar si esta es informacion adicional del mes de Diciembre del 2022 o es información duplicada (Preguntar al Stakeholder)
* El supermercado comenzó en el año 2020 --> Preguntar si hay información de Dicembre 2020
* ¿Puede haber erro en los nombres de los archivos?

### Precios de Compra de Productos a Proveedores
* Se revisan los archivos:

`Evolución_precio_enerojunio22.xls` 

`Evolución_precio_juliodiciembre22.xls`

`Price_history_2021.xls`

`Price_history_122022.xls`

In [3]:
precio_enejun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33361 entries, 0 to 33360
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             21005 non-null  object
 1   Producto/Nombre                                         21005 non-null  object
 2   Coste                                                   21005 non-null  float64
 3   Fecha                                                   21005 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  21005 non-null  object
 5   Producto/Referencia interna                             21005 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   33361 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         21005 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 2.0+ MB

In [4]:
precio_juldic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             16217 non-null  object
 1   Producto/Nombre                                         16217 non-null  object
 2   Coste                                                   16217 non-null  float64
 3   Fecha                                                   16217 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  16217 non-null  object
 5   Producto/Referencia interna                             16217 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   24783 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         16217 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 1.5+ MB

In [5]:
precio_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57558 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             37023 non-null  object
 1   Producto/Nombre                                         37023 non-null  object
 2   Coste                                                   37023 non-null  float64
 3   Fecha                                                   37023 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  37023 non-null  object
 5   Producto/Referencia interna                             37023 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   57558 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         37023 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 3.5+ MB

In [6]:
precio_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4254 entries, 0 to 4253
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             2809 non-null   object
 1   Producto/Nombre                                         2809 non-null   object
 2   Coste                                                   2809 non-null   float64
 3   Fecha                                                   2809 non-null   datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  2809 non-null   object
 5   Producto/Referencia interna                             2809 non-null   float64
 6   Producto/Proveedores/Nombre a mostrar                   4254 non-null   object
 7   Producto/Categoría de producto/Nombre a mostrar         2809 non-null   object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 266.0+ KB

> #### Los 4 archivos de precios de compra tienen las mismas 8 columnas.
> #### Se concatenarán los 4 archivos en un solo dataframe `precios_compra_2022` para su manipulación.

> #### Las columnas o variables:

* External ID
* Producto/Nombre
* Coste
* Fecha
* Producto/Cuenta analítica para gastos/Nombre a mostrar
* Producto/Referencia interna
* Producto/Proveedores/Nombre a mostrar
* Producto/Categoría de producto/Nombre a mostrar

In [7]:
precios_compra_2022 = pd.concat([precio_enejun, precio_juldic,precio_2021,precio_2021])
precios_compra_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173260 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count   Dtype
---  ------                                                  --------------   -----
 0   External ID                                             111268 non-null  object
 1   Producto/Nombre                                         111268 non-null  object
 2   Coste                                                   111268 non-null  float64
 3   Fecha                                                   111268 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  111268 non-null  object
 5   Producto/Referencia interna                             111268 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   173260 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         111268 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 11.9+ MB

In [8]:
precios_compra_2022.columns

Index(['External ID', 'Producto/Nombre', 'Coste', 'Fecha',
       'Producto/Cuenta analítica para gastos/Nombre a mostrar',
       'Producto/Referencia interna', 'Producto/Proveedores/Nombre a mostrar',
       'Producto/Categoría de producto/Nombre a mostrar'],
      dtype='object')

### Renombramos las columnas para que sea más fácil su manipulación

In [9]:
precios_compra_2022.rename(columns={'External ID':'External_ID',
                              'Producto/Nombre':'Producto_nombre', 
                              'Coste':'Coste',
                             'Fecha':'Fecha', 
                              'Producto/Cuenta analítica para gastos/Nombre a mostrar':'Producto_nombre_publico',
                             'Producto/Referencia interna':'Producto_Refint', 
                              'Producto/Proveedores/Nombre a mostrar':'Producto_Proveedores_publico',
                              'Producto/Categoría de producto/Nombre a mostrar':'Producto_Categoría_publico'
                             }, inplace=True)

In [10]:
precios_compra_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173260 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   External_ID                   111268 non-null  object
 1   Producto_nombre               111268 non-null  object
 2   Coste                         111268 non-null  float64
 3   Fecha                         111268 non-null  datetime64[ns]
 4   Producto_nombre_publico       111268 non-null  object
 5   Producto_Refint               111268 non-null  float64
 6   Producto_Proveedores_publico  173260 non-null  object
 7   Producto_Categoría_publico    111268 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 11.9+ MB

### Revisamos que si hay valores duplicados en los dataset de compra de productos para el mes de Diciembre de 2022.

In [11]:
precios_compra_2022[precios_compra_2022['Producto_nombre']=='Yogur desnatado vainilla Casa grande xanceda 2 x 125 g']

,External_ID,Producto_nombre,Coste,Fecha,Producto_nombre_publico,Producto_Refint,Producto_Proveedores_publico,Producto_Categoría_publico
1578,__export__.product_price_history_77812_27d7d769,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-06-21 10:47:34,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
1627,__export__.product_price_history_77785_e20a0bfa,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-06-21 09:18:18,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
4142,__export__.product_price_history_76286_874cf258,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-06-07 19:21:58,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
6484,__export__.product_price_history_74757_1a0cf488,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-05-24 18:10:53,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
8751,__export__.product_price_history_73353_6e898abd,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-05-10 12:14:32,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
...,...,...,...,...,...,...,...,...
45168,__export__.product_price_history_27220_a88bb48a,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-03-24 09:31:04,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
47545,__export__.product_price_history_25658_0963d74f,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-03-10 09:57:37,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
48590,__export__.product_price_history_24956_2f82915f,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-03-02 12:11:16,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
50411,__export__.product_price_history_23664_d513e609,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-02-17 10:48:40,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
52632,__export__.product_price_history_20750_5ef29dee,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-02-04 14:38:32,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."

## Analizando Ventas_2021 y Ventas 2022

In [12]:
# Datasets de venta de productos al publico 2021-2022
# ventas_2021= pd.read_excel("Ventas_PVP_inflación_2021.xls")
# ventas_2022= pd.read_excel("Ventas_PVP_inflación_2022.xls")

### Ventas_2021

In [13]:
# Renombrar columnas
ventas_2021.rename(columns={'Unnamed: 0':'Id_Prod', 
                            'Total':'Cant_Prod_Ene',
                            'Unnamed: 2':'Precio_Prod_Ene', 
                            'Unnamed: 3':'Cant_Prod_Feb',
                            'Unnamed: 4':'Precio_Prod_Feb', 
                            'Unnamed: 5':'Cant_Prod_Mar',
                            'Unnamed: 6':'Precio_Prod_Mar', 
                            'Unnamed: 7':'Cant_Prod_Abr',
                            'Unnamed: 8':'Precio_Prod_Abr', 
                            'Unnamed: 9':'Cant_Prod_May',
                            'Unnamed: 10':'Precio_Prod_May', 
                            'Unnamed: 11':'Cant_Prod_Jun',
                            'Unnamed: 12':'Precio_Prod_Jun', 
                            'Unnamed: 13':'Cant_Prod_Jul',
                            'Unnamed: 14':'Precio_Prod_Jul', 
                            'Unnamed: 15':'Cant_Prod_Ago',
                            'Unnamed: 16':'Precio_Prod_Ago', 
                            'Unnamed: 17':'Cant_Prod_Set',
                            'Unnamed: 18':'Precio_Prod_Set', 
                            'Unnamed: 19':'Cant_Prod_Oct', 
                            'Unnamed: 20':'Precio_Prod_Oct', 
                            'Unnamed: 21':'Cant_Prod_Nov', 
                            'Unnamed: 22':'Precio_Prod_Nov', 
                            'Unnamed: 23':'Cant_Prod_Dic', 
                            'Unnamed: 24':'Precio_Prod_Dic', 
                            'Unnamed: 25':'Cant_Total_Prod', 
                            'Unnamed: 26':'Precio_Total_Prod'
                             }, inplace=True)

In [14]:
ventas_2021

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
0,NaN,enero 2021,NaN,febrero 2021,NaN,marzo 2021,NaN,abril 2021,NaN,mayo 2021,...,septiembre 2021,NaN,octubre 2021,NaN,noviembre 2021,NaN,diciembre 2021,NaN,NaN,NaN
1,NaN,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,...,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio
2,Total,22238.75,3.241511,26905.815,3.217539,29978.455,3.259158,28332.157,3.391073,25373.829,...,25386.211,3.38311,28317.427,3.581475,28297.971,3.822941,28992.494,3.974771,309315.499,3.484218
3,[000007] Aceite árnica y romero Piel sana...,NaN,NaN,1,11.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7
4,[000008] Aceite caléndula y almendras Pie...,2,12.5,NaN,NaN,1,12.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3874,[006160] Yogur de soja con limón Sojade 4...,4,2.95,10,2.811111,10,2.65,16,2.65,5,...,10,2.9,10,2.9,7,2.9,16,3.04,123,2.826606
3875,[006161] Yogur de soja con plátano y mara...,5,2.95,7,2.95,7,2.65,5,2.65,7,...,5,2.9,5,2.9,NaN,NaN,8,3.0875,61,2.840164
3876,[006162] Yogur de soja natural Sojade 400 g,12,1.95,14,1.85,19,1.75,12,1.75,17,...,18,2,21,2,16,2,12,2.066667,194,1.92953
3877,[006163] Yogur de soja natural Sojade 4 x...,13,2.25,7,2.192857,7,2.05,6,2.25,2,...,10,2.3,14,2.3,7,2.3,9,2.407143,91,2.260526
3878,[006164] Yogur de soja quark griego Sojad...,6,2.1,11,2.011111,22,1.9,20,1.9,10,...,18,2.15,22,2.15,19,2.15,22,2.225,196,2.080822

In [15]:
# Eliminar 3 filas
ventas_2021_new = ventas_2021.drop([0, 1,2])
ventas_2021_new

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,[000007] Aceite árnica y romero Piel sana...,NaN,NaN,1,11.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7
4,[000008] Aceite caléndula y almendras Pie...,2,12.5,NaN,NaN,1,12.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5
5,[000009] Aceite coco Maya gold 450 ml,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,8,2,8,2,8,2,8,18,8
6,[000010] Aceite desmaquillador Piel sana ...,NaN,NaN,1,12.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.5
7,[000011] Aceite espliego y rosas Piel san...,4,12.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3874,[006160] Yogur de soja con limón Sojade 4...,4,2.95,10,2.811111,10,2.65,16,2.65,5,...,10,2.9,10,2.9,7,2.9,16,3.04,123,2.826606
3875,[006161] Yogur de soja con plátano y mara...,5,2.95,7,2.95,7,2.65,5,2.65,7,...,5,2.9,5,2.9,NaN,NaN,8,3.0875,61,2.840164
3876,[006162] Yogur de soja natural Sojade 400 g,12,1.95,14,1.85,19,1.75,12,1.75,17,...,18,2,21,2,16,2,12,2.066667,194,1.92953
3877,[006163] Yogur de soja natural Sojade 4 x...,13,2.25,7,2.192857,7,2.05,6,2.25,2,...,10,2.3,14,2.3,7,2.3,9,2.407143,91,2.260526
3878,[006164] Yogur de soja quark griego Sojad...,6,2.1,11,2.011111,22,1.9,20,1.9,10,...,18,2.15,22,2.15,19,2.15,22,2.225,196,2.080822

In [16]:
registro = ventas_2021_new.Id_Prod.loc[3875]
print(registro)

     [006161] Yogur de soja con plátano y maracuyá sin azúcar Sojade 400 g

In [17]:
# Funcion para separar id y nombre producto
def Separando_id_nomproducto(n):
    global x
    x=str(n)   
    id_final=x[7:12]
    nom_producto= x[14:-1]
    return id_final, nom_producto

In [18]:
# Aplicar función para crear las columnas y verificar sus datos
ventas_2021_mod= list(map(lambda n: Separando_id_nomproducto(n),ventas_2021_new['Id_Prod']))
ventas_2021_mod[:10] # ojo falta eliminar espacios vacios y en algunos casos agregar la unidad de medida.

[('00007', 'Aceite árnica y romero Piel sana 100 m'),
 ('00008', 'Aceite caléndula y almendras Piel sana 100 m'),
 ('00009', 'Aceite coco Maya gold 450 m'),
 ('00010', 'Aceite desmaquillador Piel sana 100 m'),
 ('00011', 'Aceite espliego y rosas Piel sana 100 m'),
 ('00012', 'Aceite ginkgo y abedul Piel sana 100 m'),
 ('00013', 'Aceite de girasol Virgen bio Franciscanos 1 '),
 ('00015', 'Aceite oliva virgen extra Gumendi 2 '),
 ('00016', 'Aceite oliva virgen extra Gumendi 5 '),
 ('00018', 'Aceite oliva virgen extra Umbria Oretana 2.5 ')]

In [19]:
#convertir matriz
ventas_2021_modi_id_nombre = pd.DataFrame(data = ventas_2021_mod, columns=['Id_Prod_2','Nom_Prod'])
#print DataFrame
print(ventas_2021_modi_id_nombre)

     Id_Prod_2                                           Nom_Prod
0        00007             Aceite árnica y romero Piel sana 100 m
1        00008       Aceite caléndula y almendras Piel sana 100 m
2        00009                        Aceite coco Maya gold 450 m
3        00010              Aceite desmaquillador Piel sana 100 m
4        00011            Aceite espliego y rosas Piel sana 100 m
...        ...                                                ...
3871     06160                Yogur de soja con limón Sojade 400
3872     06161  Yogur de soja con plátano y maracuyá sin azúca...
3873     06162                  Yogur de soja natural Sojade 400
3874     06163              Yogur de soja natural Sojade 4 x 100
3875     06164             Yogur de soja quark griego Sojade 400

[3876 rows x 2 columns]

In [20]:
# Comcadenar
dfventas_2021 = pd.concat([ventas_2021_modi_id_nombre, ventas_2021_new], axis=1, join='inner')
dfventas_2021 = dfventas_2021.drop(["Id_Prod"], axis=1)
# dfventas = dfventas.drop(["index"], axis=1)
dfventas_2021.reset_index(inplace=True, drop=True)

In [21]:
dfventas_2021

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,1,11.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7
1,00011,Aceite espliego y rosas Piel sana 100 m,2,12.5,NaN,NaN,1,12.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,8,2,8,2,8,2,8,18,8
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,1,12.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.5
4,00015,Aceite oliva virgen extra Gumendi 2,4,12.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3868,06160,Yogur de soja con limón Sojade 400,18,3.75,30,3.495455,30,3.35,21,3.35,...,23,3.35,23,3.35,23,3.35,25,3.572222,264,3.416667
3869,06161,Yogur de soja con plátano y maracuyá sin azúca...,2,2.95,4,2.95,5,2.65,5,2.65,...,5,2.9,7,2.9,9,2.9,9,2.9875,67,2.827344
3870,06162,Yogur de soja natural Sojade 400,NaN,NaN,6,2.866667,3,2.65,8,2.65,...,9,2.9,8,2.9,10,2.9,14,3.016667,78,2.849254
3871,06163,Yogur de soja natural Sojade 4 x 100,4,2.95,10,2.811111,10,2.65,16,2.65,...,10,2.9,10,2.9,7,2.9,16,3.04,123,2.826606
3872,06164,Yogur de soja quark griego Sojade 400,5,2.95,7,2.95,7,2.65,5,2.65,...,5,2.9,5,2.9,NaN,NaN,8,3.0875,61,2.840164

In [22]:
# Separar columnas de Enero
dfventas_Ene_2021 = dfventas_2021.drop(["Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Ene_2021

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN
1,00011,Aceite espliego y rosas Piel sana 100 m,2,12.5
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN
4,00015,Aceite oliva virgen extra Gumendi 2,4,12.5
...,...,...,...,...
3868,06160,Yogur de soja con limón Sojade 400,18,3.75
3869,06161,Yogur de soja con plátano y maracuyá sin azúca...,2,2.95
3870,06162,Yogur de soja natural Sojade 400,NaN,NaN
3871,06163,Yogur de soja natural Sojade 4 x 100,4,2.95
3872,06164,Yogur de soja quark griego Sojade 400,5,2.95

In [23]:
# En los ultimos registros esta faltando la unidad de medida, verifique con los ultimos registros del primer dataframe.
registro2 = dfventas_Ene_2021.Nom_Prod.loc[3869]
print(registro2)

Yogur de soja con plátano y maracuyá sin azúcar Sojade 400

In [24]:
# crea la lista de fechas especificadas
fecha = "31-01-2021"
lista_fechas_Enero_2021 = [fecha] * len(dfventas_Ene_2021)

In [25]:
# agrega la nueva columna al DataFrame
dfventas_Ene_2021["fecha"] = lista_fechas_Enero_2021
dfventas_Ene_2021

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-01-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,2,12.5,31-01-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,31-01-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-01-2021
4,00015,Aceite oliva virgen extra Gumendi 2,4,12.5,31-01-2021
...,...,...,...,...,...
3868,06160,Yogur de soja con limón Sojade 400,18,3.75,31-01-2021
3869,06161,Yogur de soja con plátano y maracuyá sin azúca...,2,2.95,31-01-2021
3870,06162,Yogur de soja natural Sojade 400,NaN,NaN,31-01-2021
3871,06163,Yogur de soja natural Sojade 4 x 100,4,2.95,31-01-2021
3872,06164,Yogur de soja quark griego Sojade 400,5,2.95,31-01-2021

In [26]:
# Renombrar columnas enero  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Ene_2021.rename(columns={'Cant_Prod_Ene':'Cant_Prod', 
                            'Precio_Prod_Ene':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Ene_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-01-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,2,12.5,31-01-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,31-01-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-01-2021
4,00015,Aceite oliva virgen extra Gumendi 2,4,12.5,31-01-2021

In [27]:
# Separar columnas de Febrero
dfventas_Feb_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Feb_2021
# crea la lista de fechas especificadas
fecha = "28-02-2021"
lista_fechas_febreo_2021 = [fecha] * len(dfventas_Feb_2021)
# agrega la nueva columna al DataFrame
dfventas_Feb_2021["fecha"] = lista_fechas_febreo_2021
dfventas_Feb_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Feb,Precio_Prod_Feb,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,1,11.7,28-02-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,28-02-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,28-02-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,1,12.5,28-02-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,28-02-2021

In [28]:
# Renombrar columnas enero  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Feb_2021.rename(columns={'Cant_Prod_Feb':'Cant_Prod', 
                            'Precio_Prod_Feb':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Feb_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,1,11.7,28-02-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,28-02-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,28-02-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,1,12.5,28-02-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,28-02-2021

In [29]:
# Separar columnas de Marzo
dfventas_Mar_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Mar_2021
# crea la lista de fechas especificadas
fecha = "31-03-2021"
lista_fechas_marzo_2021 = [fecha] * len(dfventas_Mar_2021)
# agrega la nueva columna al DataFrame
dfventas_Mar_2021["fecha"] = lista_fechas_marzo_2021
dfventas_Mar_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Mar,Precio_Prod_Mar,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-03-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,1,12.5,31-03-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,31-03-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-03-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,31-03-2021

In [30]:
# Renombrar columnas marzo  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Mar_2021.rename(columns={'Cant_Prod_Mar':'Cant_Prod', 
                            'Precio_Prod_Mar':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Mar_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-03-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,1,12.5,31-03-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,31-03-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-03-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,31-03-2021

In [31]:
# Separar columnas de Abril
dfventas_Abr_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Abr_2021
# crea la lista de fechas especificadas
fecha = "30-04-2021"
lista_fechas_abril_2021 = [fecha] * len(dfventas_Abr_2021)
# agrega la nueva columna al DataFrame
dfventas_Abr_2021["fecha"] = lista_fechas_abril_2021
dfventas_Abr_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Abr,Precio_Prod_Abr,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,30-04-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,30-04-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,30-04-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,30-04-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,30-04-2021

In [32]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Abr_2021.rename(columns={'Cant_Prod_Abr':'Cant_Prod', 
                            'Precio_Prod_Abr':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Abr_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,30-04-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,30-04-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,30-04-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,30-04-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,30-04-2021

In [33]:
# Separar columnas de Mayo
dfventas_May_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_May_2021
# crea la lista de fechas especificadas
fecha = "31-05-2021"
lista_fechas_mayo_2021 = [fecha] * len(dfventas_May_2021)
# agrega la nueva columna al DataFrame
dfventas_May_2021["fecha"] = lista_fechas_mayo_2021
dfventas_May_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_May,Precio_Prod_May,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-05-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,31-05-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,31-05-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-05-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,31-05-2021

In [34]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_May_2021.rename(columns={'Cant_Prod_May':'Cant_Prod', 
                            'Precio_Prod_May':'Precio_Prod',                            
                             }, inplace=True)
dfventas_May_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-05-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,31-05-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,31-05-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-05-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,31-05-2021

In [35]:
# Separar columnas de Jun
dfventas_Jun_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Jun_2021
# crea la lista de fechas especificadas
fecha = "30-06-2021"
lista_fechas_junio_2021 = [fecha] * len(dfventas_Jun_2021)
# agrega la nueva columna al DataFrame
dfventas_Jun_2021["fecha"] = lista_fechas_junio_2021
dfventas_Jun_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Jun,Precio_Prod_Jun,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,30-06-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,2,12.5,30-06-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,2,8,30-06-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,30-06-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,30-06-2021

In [36]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Jun_2021.rename(columns={'Cant_Prod_Jun':'Cant_Prod', 
                            'Precio_Prod_Jun':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Jun_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,30-06-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,2,12.5,30-06-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,2,8,30-06-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,30-06-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,30-06-2021

In [37]:
# Separar columnas de Jul
dfventas_Jul_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Jul_2021
# crea la lista de fechas especificadas
fecha = "31-07-2021"
lista_fechas_julio_2021 = [fecha] * len(dfventas_Jul_2021)
# agrega la nueva columna al DataFrame
dfventas_Jul_2021["fecha"] = lista_fechas_julio_2021
dfventas_Jul_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Jul,Precio_Prod_Jul,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-07-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,31-07-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,4,8,31-07-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-07-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,31-07-2021

In [38]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Jul_2021.rename(columns={'Cant_Prod_Jul':'Cant_Prod', 
                            'Precio_Prod_Jul':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Jul_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-07-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,31-07-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,4,8,31-07-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-07-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,31-07-2021

In [39]:
# Separar columnas de Agosto
dfventas_Ago_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Ago_2021
# crea la lista de fechas especificadas
fecha = "31-08-2021"
lista_fechas_agosto_2021 = [fecha] * len(dfventas_Ago_2021)
# agrega la nueva columna al DataFrame
dfventas_Ago_2021["fecha"] = lista_fechas_agosto_2021
dfventas_Ago_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Ago,Precio_Prod_Ago,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-08-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,31-08-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,31-08-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-08-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,31-08-2021

In [40]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Ago_2021.rename(columns={'Cant_Prod_Ago':'Cant_Prod', 
                            'Precio_Prod_Ago':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Ago_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-08-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,31-08-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,31-08-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-08-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,31-08-2021

In [41]:
# Separar columnas de Setiembre
dfventas_Set_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Set_2021
# crea la lista de fechas especificadas
fecha = "30-09-2021"
lista_fechas_setiembre_2021 = [fecha] * len(dfventas_Set_2021)
# agrega la nueva columna al DataFrame
dfventas_Set_2021["fecha"] = lista_fechas_setiembre_2021
dfventas_Set_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Set,Precio_Prod_Set,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,30-09-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,30-09-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,6,8,30-09-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,30-09-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,30-09-2021

In [42]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Set_2021.rename(columns={'Cant_Prod_Set':'Cant_Prod', 
                            'Precio_Prod_Set':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Set_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,30-09-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,30-09-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,6,8,30-09-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,30-09-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,30-09-2021

In [43]:
# Separar columnas de Octubre
dfventas_Oct_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Oct_2021
# crea la lista de fechas especificadas
fecha = "31-10-2021"
lista_fechas_octubre_2021 = [fecha] * len(dfventas_Oct_2021)
# agrega la nueva columna al DataFrame
dfventas_Oct_2021["fecha"] = lista_fechas_octubre_2021
dfventas_Oct_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Oct,Precio_Prod_Oct,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-10-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,31-10-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,2,8,31-10-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-10-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,31-10-2021

In [44]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Oct_2021.rename(columns={'Cant_Prod_Oct':'Cant_Prod', 
                            'Precio_Prod_Oct':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Oct_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-10-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,31-10-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,2,8,31-10-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-10-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,31-10-2021

In [45]:
# Separar columnas de Noviembre
dfventas_Nov_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Nov_2021
# crea la lista de fechas especificadas
fecha = "30-11-2021"
lista_fechas_noviembre_2021 = [fecha] * len(dfventas_Nov_2021)
# agrega la nueva columna al DataFrame
dfventas_Nov_2021["fecha"] = lista_fechas_noviembre_2021
dfventas_Nov_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Nov,Precio_Prod_Nov,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,30-11-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,30-11-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,2,8,30-11-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,30-11-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,30-11-2021

In [46]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Nov_2021.rename(columns={'Cant_Prod_Nov':'Cant_Prod', 
                            'Precio_Prod_Nov':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Nov_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,30-11-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,30-11-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,2,8,30-11-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,30-11-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,30-11-2021

In [47]:
# Separar columnas de Diciemre
dfventas_Dic_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Dic_2021
# crea la lista de fechas especificadas
fecha = "31-12-2021"
lista_fechas_diciembre_2021 = [fecha] * len(dfventas_Dic_2021)
# agrega la nueva columna al DataFrame
dfventas_Dic_2021["fecha"] = lista_fechas_diciembre_2021
dfventas_Dic_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Dic,Precio_Prod_Dic,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-12-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,31-12-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,2,8,31-12-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-12-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,31-12-2021

In [48]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Dic_2021.rename(columns={'Cant_Prod_Dic':'Cant_Prod', 
                            'Precio_Prod_Dic':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Dic_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-12-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,NaN,NaN,31-12-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,2,8,31-12-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-12-2021
4,00015,Aceite oliva virgen extra Gumendi 2,NaN,NaN,31-12-2021

In [49]:
len(dfventas_Dic_2021)

3873

In [50]:
# Concatenar dataframe
dfventas_2021 = pd.concat([dfventas_Ene_2021, dfventas_Feb_2021, dfventas_Mar_2021, dfventas_Abr_2021, dfventas_May_2021, dfventas_Jun_2021, dfventas_Jul_2021, dfventas_Ago_2021, dfventas_Set_2021, dfventas_Oct_2021, dfventas_Nov_2021, dfventas_Dic_2021], axis=0)
dfventas_2021.reset_index(inplace=True, drop=True)
dfventas_2021

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,NaN,NaN,31-01-2021
1,00011,Aceite espliego y rosas Piel sana 100 m,2,12.5,31-01-2021
2,00012,Aceite ginkgo y abedul Piel sana 100 m,NaN,NaN,31-01-2021
3,00013,Aceite de girasol Virgen bio Franciscanos 1,NaN,NaN,31-01-2021
4,00015,Aceite oliva virgen extra Gumendi 2,4,12.5,31-01-2021
...,...,...,...,...,...
46471,06160,Yogur de soja con limón Sojade 400,25,3.572222,31-12-2021
46472,06161,Yogur de soja con plátano y maracuyá sin azúca...,9,2.9875,31-12-2021
46473,06162,Yogur de soja natural Sojade 400,14,3.016667,31-12-2021
46474,06163,Yogur de soja natural Sojade 4 x 100,16,3.04,31-12-2021
46475,06164,Yogur de soja quark griego Sojade 400,8,3.0875,31-12-2021

In [51]:
# Convertir la columna de fecha al formato adecuado
dfventas_2021['fecha'] = pd.to_datetime(dfventas_2021['fecha'], format='%d-%m-%Y')

In [52]:
# probamos eliminado NAN
dfventas_sin_nan = dfventas_2021

In [53]:
dfventas_sin_nan = dfventas_sin_nan.dropna()
dfventas_sin_nan

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
1,00011,Aceite espliego y rosas Piel sana 100 m,2,12.5,2021-01-31
4,00015,Aceite oliva virgen extra Gumendi 2,4,12.5,2021-01-31
9,00021,Aceite oliva virgen extra Umbria oretana 5 L PE,9,18.5,2021-01-31
10,00022,Aceite oliva virgen extra Umbria oretana 750 m...,1,11.9,2021-01-31
11,00023,Aceite rosa mosqueta y damáscena Piel sana 50 m,5,32.75,2021-01-31
...,...,...,...,...,...
46471,06160,Yogur de soja con limón Sojade 400,25,3.572222,2021-12-31
46472,06161,Yogur de soja con plátano y maracuyá sin azúca...,9,2.9875,2021-12-31
46473,06162,Yogur de soja natural Sojade 400,14,3.016667,2021-12-31
46474,06163,Yogur de soja natural Sojade 4 x 100,16,3.04,2021-12-31
46475,06164,Yogur de soja quark griego Sojade 400,8,3.0875,2021-12-31

In [54]:
# probamos reemplazando NaN con cero
dfventas_con_cero = dfventas_2021

In [55]:
dfventas_con_cero = dfventas_con_cero.fillna(0)
dfventas_con_cero

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,00010,Aceite desmaquillador Piel sana 100 m,0.0,0.000000,2021-01-31
1,00011,Aceite espliego y rosas Piel sana 100 m,2.0,12.500000,2021-01-31
2,00012,Aceite ginkgo y abedul Piel sana 100 m,0.0,0.000000,2021-01-31
3,00013,Aceite de girasol Virgen bio Franciscanos 1,0.0,0.000000,2021-01-31
4,00015,Aceite oliva virgen extra Gumendi 2,4.0,12.500000,2021-01-31
...,...,...,...,...,...
46471,06160,Yogur de soja con limón Sojade 400,25.0,3.572222,2021-12-31
46472,06161,Yogur de soja con plátano y maracuyá sin azúca...,9.0,2.987500,2021-12-31
46473,06162,Yogur de soja natural Sojade 400,14.0,3.016667,2021-12-31
46474,06163,Yogur de soja natural Sojade 4 x 100,16.0,3.040000,2021-12-31
46475,06164,Yogur de soja quark griego Sojade 400,8.0,3.087500,2021-12-31

### Ventas_2022  (Falta depurar)